<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/proddet.css">
    <link rel="stylesheet" href="../CSS/header.css">
</head>
<body>
    <%- include('header.ejs') %>
    <div class="container">
        <img class="details-image" src= <%= data.foodImage %> alt="" />
        <div class="name-price">
            <p><%= data.foodName %></p> |
            <p><%= data.price %></p>
        </div>
        <p class="about-food"><%= data.foodDetails %></p>    
       
        <a class="add-to-cart" href="/food/add/<%= data.foodId %>">ADD TO CART</a>
        
    </div>        
</body>
<script src="../JS/main.js"></script>
</html>

